In [1]:
import pandas as pd
import numpy as np

In [32]:
df=pd.read_excel("C:/Users/Erica Konadu/Documents/nibs_ph.xlsx")
df2=pd.read_excel("C:/Users/Erica Konadu/Documents/chemical_added.xlsx")

In [33]:

df

old_date_format='%m-%d-%Y'
new_date_format='%d/%m/%Y'

df['Date']=pd.to_datetime(df['Date'],format=old_date_format).dt.strftime(new_date_format)
df

ValueError: time data '44347' does not match format '%m-%d-%Y' (match)

In [20]:
df2['Date']=pd.to_datetime(df2['Date'])
df2.dtypes

Date              datetime64[ns]
chemical_added           float64
dtype: object

In [17]:
df3=df.set_index('Date').join(df2.set_index('Date'))
df3

              nibs_ph  chemical_added
Date
44347.250000     5.42             NaN
44347.333333     5.44             NaN
44347.416667     5.43             NaN
44347.500000     5.44             NaN
44347.583333     5.39             NaN
...               ...             ...
44641.166667     5.45             NaN
44641.250000     5.37             NaN
44641.333333     5.45             NaN
44641.416667     5.47             NaN
44641.500000     5.28             NaN

[3427 rows x 2 columns]