<a href="https://colab.research.google.com/github/ericakonadu/-100daysofcode/blob/main/web_scrapping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install bs4 requests lxml selenium

In [6]:
import requests as rq
url ="https://www.indeed.com/jobs?q=data%20science&l=Remote&vjk=a2c008533625ab9d"
res = rq.get(url)

In [ ]:
from bs4 import BeautifulSoup as bs #import the libraries
jobs = bs(res.content)  #get content from page
print(jobs)

In [ ]:
results = jobs.find(id="resultsCol")
results

In [ ]:
c_results = results.find_all("div", class_= "messageContainer")
c_results

In [ ]:
c_resuts1= results.find_all("h2",class_="jobTitle")
job_titles = [t.text.strip() for t in c_resuts1] #get all jobs in roles

job_titles

In [27]:
import pandas as pd

df= pd.DataFrame(job_titles, columns= ["Job Title"]) #put data in a dataframe

df.head()

                                 Job Title
0                    Data Science Engineer
1         Director, Data Science- SMB Labs
2                       Predictive Modeler
3   Data Scientist/ Data Science Analyst I
4  Reporting Analyst/Data Analyst (Remote)